body{
    background: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

}


/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    height: 70px;
    position: fixed;
    z-index: 10000;
    width: 100%;
    transition: 1s;
}



.nav-left{
    display: flex;
}
.nav-left .logo{
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 20px 0 70px;
    position: relative;
    transition: .5s;
    width: 200px;
}

.nav-left .logo:before{
    content:"Binge watch.";
    position:absolute;
    color:#03e9f4;
    top:0;
    left: 70px;
    width:0%;
    overflow:hidden;
    transition:all 0.5s;
}
.nav-left .logo:hover:before{
    width:100%;
    letter-spacing: 2px;
}
.nav-left .logo:hover{
    letter-spacing: 2px;
}



.nav-left ul{
    display: flex;
}
.nav-left ul li{
    list-style: none;
    letter-spacing: 0.5px;
    width: 120px;
    text-align: center;
}
.nav-left ul li a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    
}
.nav-left ul li a:hover{
    letter-spacing: 2px;
}



.nav-right ul{
    display: flex;
    gap: 30px;
    padding-right: 40px;
}
.nav-right ul li{
    color: #fff;
    list-style: none;
    font-size: 23px;
    transition: .3s;
}
.nav-right ul li:hover{
    color: #03e9f4;
    cursor: pointer;
}






nav.black{
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}
nav.black .toggle-button .bar{
    background-color: #fff;
}
nav.black li .diff{
    color: #fff;
}
nav.black .logo .diff{
    color: #fff;
}
.diff{
    color: #000;
}




/* TEXT */
.title{
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    color: white;
    float: right;
    margin-top: 210px;
    margin-right: 100px;
    font-size: 25px;
    letter-spacing: 0.1px;
    cursor: default;
}

.sub{
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    letter-spacing: 1px;
    float: right;
    width: 500px;
    margin-top: 425px;
    margin-right: -500px;
    font-size: 19px;
    cursor: default;
    
}

.number-2{
    background: #000;
}
.title2{
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 25px;
    color: white;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 230px;
    cursor: default;
}

.sub2{
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    letter-spacing: 1px;
    float: left;
    width: 500px;
    margin-top: -20px;
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 25px;
    width: 800px;
    cursor: default;
}




/* POSTERS AT THE TOP */
.posters{
    display: inline-block;
    overflow: hidden;
    margin-top: 220px;
    margin-left: 140px;
    width: 600px;
    height: 337.5px;
    border-radius: 15px;
    animation: change 5s infinite ease-in-out;
}
.posters img{
    -webkit-transition: all .27s ease-in-out;

}
.posters:hover img{
    -webkit-transform: scale(1.07);

}







/* BG IMAGE BEHIND POSTERS */
.bg img{
    z-index: -1;
    top: 0;
    position: absolute;
}



/* DIG IN BUTTON */
.dig a{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 0px;
    float: right;
    transform: translateX(-180px);

    border: none;
    
    font-family: inconsolata;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 18px;
    text-decoration: none;
    
    color: #E60000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    margin-bottom: 0%;
}
.dig a:hover{
    color: #050801;
    background: #E60000;
    box-shadow: 0 0 5px #E60000, 0 0 25px #E60000, 0 0 50px #E60000, 0 0 100px #E60000;

}

.dig a span{
    position: absolute;
    display: block;
    
} 
.dig a span:nth-child(1){
    top: 0;
    left: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#E60000);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}


.dig a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#E60000);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}


.dig a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#E60000);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}

.dig a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#E60000);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}

/* SPANS */
.diff-color{
    color: #E60000;
}
.diff-color-2{
    color: transparent;
    -webkit-text-stroke: 1.5px #E60000;
}
.diff-color-3{
    color: #03e9f4;
}


.all{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.all:nth-child(1) {
    background-size: cover;
}
.title2:nth-child(2) {
    background: #000;
}


.auto-type{
    color: #03e9f4;
}




/* GENRES SLIDES */
.slider{
    height: 570px;
    margin: auto;
    position: relative;
    width: 100%;
    display: block;
    place-items: center;
    overflow: hidden;
    margin-bottom: 100px;
    
}
.slide-track{
    display: flex;
    width: calc(450px * 10);
    animation: scroll 35s linear infinite;
    
}
.slide{
    height: 570px;
    width: 400px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}   
.slide img{
    width: 100%;
    transition: transform .6s;
    border-radius: 25px;
    display: block;
    scale: 10px;
}


.slide:hover img{
    transform: scale(1.065);
}

.slide-track:hover{
    animation-play-state: paused;
    
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-450px * 5));
    }
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
    cursor: default;
}
.image-overlay:hover{
    opacity: 1;
}
.image-overlay:hover > * {
    transform: translateY(0px);
}

.image-title{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
.image-desc{
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    letter-spacing: 1px;
}






/* WATCH EVERYWHERE */
.watch-1{
    display: flex;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    width: 100%;
    height: 780px;
    justify-content: space-between;
    background: whitesmoke;
    cursor: default;
}
.details-bottom-1{
    color: #000;
    width: 600px;
    margin: auto;
}
.details-bottom-1 .title3-1{
    font-size: 30px;
}
.details-bottom-1 .sub3-1{
    font-size: 23px;
    letter-spacing: 1px;
}

.watch-1 .image-1{
    margin: auto 0;
    overflow: hidden;
    height: 340px;
    border-radius: 15px;
    margin-right: 80px;
}

.watch-1 .image-1 img{
    -webkit-transition: all .27s ease-in-out;
}
.image-1:hover img{
    -webkit-transform: scale(1.07);
}



/* UP TO DATE SHOWS */
.watch-2{
    display: flex;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    width: 100%;
    height: 780px;
    justify-content: space-between;
    cursor: default; 
}
.details-bottom-2{
    color: #fff;
    width: 600px;
    margin: auto;
}
.details-bottom-2 .title3-2{
    font-size: 30px;
    -webkit-transition: 1s;
}
.details-bottom-2 .sub3-2{
    font-size: 23px;
    letter-spacing: 1px;
}

.watch-2 .image-2{
    margin: auto 0;
    overflow: hidden;
    height: 340px;
    border-radius: 15px;
    margin-left: 80px;
}

.watch-2 .image-2 img{
    -webkit-transition: all .27s ease-in-out;
}
.image-2:hover img{
    -webkit-transform: scale(1.07);
}





/* WATCH YOUR ANIME OFFLINE */
.watch-3{
    display: flex;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    width: 100%;
    height: 780px;
    justify-content: space-between;
    background: whitesmoke;
    cursor: default;
}
.details-bottom-3{
    color: #000;
    width: 600px;
    margin: auto;
}
.details-bottom-3 .title3-3{
    font-size: 30px;
}
.details-bottom-3 .sub3-3{
    font-size: 23px;
    letter-spacing: 1px;
}

.watch-3 .image-3{
    margin: auto 0;
    overflow: hidden;
    height: 340px;
    border-radius: 15px;
    margin-right: 80px;
}

.watch-3 .image-3 img{
    -webkit-transition: all .27s ease-in-out;
}
.image-3:hover img{
    -webkit-transform: scale(1.07);
}



/* INPUT FORM */
.sign-up{
    height: 780px;
    display: flex;  
}
.sign-up .image{
    width: 50%;
    height: 780px;
    overflow: hidden;
}
.sign-up .image img{
    height: 100%;
}
.sign-up .details{
    width: 50%;
    margin: 0 0 0 60px;
}
.sign-up .details form{
    position: relative;
    width: 620px;
}
.sign-up .details form input{
    width: 100%;
    padding: 10px;
    height: 25px;
    background: transparent;
    border: 1px solid #03e8f466;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    transition: .3s;
    margin: 10px 0;
    outline: none;
}



.details input:valid + .effect, .details input:focus + .effect{
    color: #03e9f4;
    transform: translateX(10px) translateY(-62px);
    font-size: 13px;
    padding: 0 10px;
    background: #03e9f4;
    color: #000;
}
.sign-up .details form input:focus{
    border: 1px solid #03e9f4;
    outline: none;
}

form .effect{
    color: #03e8f466;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    position: absolute;
    left: 0;
    padding: 25px 15px;
    letter-spacing: 1px;
    pointer-events: none;
    transform: translateY(-67px);
    transition: .3s;
}



/* DIG IN BUTTON 2 */
.dig-2 a{
    width: 614px;
    padding: 15px;
    text-align: center;
    margin-right: -24px;
    float: right;
    

    border: none;
    
    font-family: inconsolata;
    letter-spacing: 0.5px;
    font-size: 18px;
    text-decoration: none;
    
    color: #E60000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    
}
.dig-2 a:hover{
    color: #050801;
    background: #E60000;
    box-shadow: 0 0 5px #E60000, 0 0 25px #E60000, 0 0 50px #E60000, 0 0 100px #E60000;

}

.dig-2 a span{
    position: absolute;
    display: block;
    
} 
.dig-2 a span:nth-child(1){
    top: 0;
    left: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#E60000);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}


.dig-2 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#E60000);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}


.dig-2 a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#E60000);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}

.dig-2 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#E60000);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}






/* FOOTER */
footer{
    color: #fff;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    height: 380px;
    background: #000 linear-gradient(180deg,#0000,#213944);
}
footer .content{
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    margin: 60px 100px;
}
footer .content h1{
    font-size: 20px;
    cursor: default;
}
footer .content p a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
footer .content p a:hover{
    color: #03e9f4;
    font-style: italic;
}
footer .links p{
    margin: 20px 0px;
    font-size: 40px;
}
footer .links p i{
    color: #fff;
    transition: .3s;
}
footer .links{
    display: flex;
    margin: 60px 100px;
    gap: 40px;
}
footer .links h1{
    cursor: default;
}

footer .links p i:hover{
    color: #03e9f4;
}








.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.smooth-scroll{
    margin-bottom: 0;
}


::-webkit-scrollbar{
    width: 0;
}
#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: #03e9f4;
    z-index: 2;
    animation: animate 5s linear infinite;
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03e9f4;
    filter: blur(10px);
}
#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#03e9f4;
    filter: blur(30px);
}







.toggle-button{
    position: absolute;
    top: 24px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    align-items: center;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}



@media (max-width: 1070px) {
    .toggle-button{
        display: flex;
    }
    .toggle-button .bar{
        background: #fff;
    }
    .nav-left ul{
        display: none;
    }
    .nav-right ul{
        display: none;
    }
}

/* @media (max-width: 870px) {
    .toggle-button .bar{
        background: #000;
    }
    
} */
@media (max-width: 600px) {
    .nav-left .logo{
        padding: 0 10px 0 35px;
    }
}
@media (max-width: 275px) {
    .nav-left .logo{
        padding-left: 5px;
    }
}
@media (max-width: 390px) {
    body{
        width: 20px;
        
    }
    .bg{
        width: 200px;
    }
}












































/* LOADER */
.loader-wrapper{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem #03e8f4b4);
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #03e9f4;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #03e9f4;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #03e9f4;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #03e9f4;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #03e9f4;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #03e9f4;
      opacity: 1;
    }
  }
      
